.counter {
    margin-bottom: 2em;

    .success-count {
        font-size: 2em;
        color: #00490c;
        font-weight: bold;

        span:first-child {
            padding-right: 1em;
        }

    }

    .fail-count {
        font-size: 2em;
        color: #490000;
        font-weight: bold;

        span:first-child {
            padding-right: 1em;
        }
    }
}